absl-py==0.11.0
aiohttp==3.6.2
appdirs==1.4.3
astunparse==1.6.3
async-timeout==3.0.1
attrs==19.3.0
beautifulsoup4==4.8.2
bs4==0.0.1
cachetools==4.1.1
certifi==2019.11.28
chardet==3.0.4
cssselect==1.1.0
discord==1.0.1
discord.py==1.3.1
fake-useragent==0.1.11
future==0.18.2
gast==0.3.3
google-auth==1.23.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.33.2
h5py==2.10.0
idna==2.8
ImageScraper==2.0.7
joblib==0.17.0
Keras==2.4.3
Keras-Preprocessing==1.1.2
lxml==4.5.0
Markdown==3.3.3
max7219-drivers-pi==0.0.1
multidict==4.7.3
multitasking==0.0.9
numpy==1.18.0
oauthlib==3.1.0
opt-einsum==3.3.0
pandas==1.0.1
parse==1.14.0
Pillow==6.2.1
portfolio-tracker==0.0.1
pprint==0.1
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyee==7.0.1
pyppeteer==0.0.25
pyquery==1.4.1
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.2
requests==2.22.0
requests-html==0.10.0
requests-oauthlib==1.3.0
rsa==4.6
scikit-learn==0.23.2
scipy==1.5.4
setproctitle==1.1.10
simplejson==3.17.0
SimplePool==0.1
six==1.13.0
soupsieve==1.9.5
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
termcolor==1.1.0
threadpoolctl==2.1.0
tqdm==4.42.1
urllib3==1.25.7
w3lib==1.21.0
websockets==6.0
Werkzeug==1.0.1
wrapt==1.12.1
wxPython==4.0.7.post2
yahoo-fin==0.8.4
yahoo-finance==1.4.0
yahoo-finance-api2==0.0.8
yarl==1.4.2
youtube-dl==2020.3.24
